---

const {title, option} = Astro.props;

---

<a class="">
    <div class="flex items-center justify-center gap-2 duration-300 bg-darkColor hover:bg-[#464444] hover:text-darkColor px-8 py-2 w-full min-w-[248px] cursor-pointer">
        <i class={`${option} duration-300 text-white`}></i>
        <p class="font-semibold duration-300 text-white">{title}</p>
    </div>
</a>
