---
import PlanCard from "../components/PlanCard.astro";
---

<section class="mx-32 mb-28">
    <h2 class="text-3xl font-bold text-center mb-12">Planes</h2>
    <div class="flex justify-center gap-4">
        <PlanCard title="Landing Page"/>
        <PlanCard title="Sitio Web Empresarial"/>
        <PlanCard title="E-Commerce"/>
    </div>
</section>