---

import ReviewCard from "../components/ReviewCard.astro";

---


<section class="mx-32 mb-28">
    <h2 class="text-3xl font-bold text-center mb-12">Reseñas</h2>
    <div class="flex gap-8">
        <ReviewCard
            title="Santu’s Eventos"
            review="“Gigarur böt. Multisalig hynade. Tuktig tåna tring. Nil käliga hosam. Dekalär tisa. Osat lävis hest. Osar decikande. Ritt hinenågt kroskapet. Vil satenat. Iren tude trer. Kåren ikrong. Presade satt.” "
        />
        <ReviewCard
            title="San Inmobiliaria"
            review="“Gigarur böt. Multisalig hynade. Tuktig tåna tring. Nil käliga hosam. Dekalär tisa. Osat lävis hest. Osar decikande. Ritt hinenågt kroskapet. Vil satenat. Iren tude trer. Kåren ikrong. Presade satt.” "
        />
    </div>
</section>