<section class="my-28 px-32">
    <h2 class="text-2xl font-light text-center mb-20">Tecnologías líderes en la industria, para una mejor solución.</h2>
    <div class="flex gap-12 justify-center">
        <div class="flex flex-col items-center gap-4">
            <img src="/public/images/html.svg" alt="html logo">
            <p class="font-light">HTML</p>
        </div>
        <div class="flex flex-col items-center gap-4">
            <img src="/public/images/css.svg" alt="html logo">
            <p class="font-light">CSS</p>
        </div>
        <div class="flex flex-col items-center gap-4">
            <img src="/public/images/javascript.svg" alt="html logo">
            <p class="font-light">Javascript</p>
        </div>
        <div class="flex flex-col items-center gap-4">
            <img src="/public/images/react.svg" alt="html logo">
            <p class="font-light">React.js</p>
        </div>
        <div class="flex flex-col items-center gap-4">
            <img src="/public/images/tailwind.svg" alt="html logo">
            <p class="font-light">Tailwind</p>
        </div>
        <div class="flex flex-col items-center gap-4">
            <img src="/public/images/sass.svg" alt="html logo">
            <p class="font-light">SASS</p>
        </div>
        <div class="flex flex-col items-center gap-4">
            <img src="/public/images/next.svg" alt="html logo">
            <p class="font-light">Next.js</p>
        </div>
        <div class="flex flex-col items-center gap-4">
            <img src="/public/images/bootstrap.svg" alt="html logo">
            <p class="font-light">Bootstrap</p>
        </div>
        <div class="flex flex-col items-center gap-4">
            <img src="/public/images/chakraui.svg" alt="html logo">
            <p class="font-light">Chakra UI</p>
        </div>
        <div class="flex flex-col items-center gap-4">
            <img src="/public/images/firebase.svg" alt="html logo">
            <p class="font-light">Firebase</p>
        </div>
    </div>
</section>